<div class="span7 todo-main" >
	<div class="well">
  <%= bootstrap_flash %>
  
  <div class="headline">
		<h1><%= @user.name %>'s To Do's!</h1>
	</div>

	<% if current_user.list == @list %>
	
	<table class="table table-striped table-bordered">
		<% @items.each do |item| %>
			<% if item.completed == false %>
				<%= render item %>
			<% end %>
		<% end %>
	</table>
	
	<% else %>

	<table class="table table-striped table-bordered">
		<% @items.each do |item| %>
			<% if item.completed == false %>
				<%= content_tag_for(:tr, item)  do %>
					<td class="task"><%= item.task %></td>
				<% end %>
			<% end %>
		<% end %>
	</table>

	<% end %>

	<% if current_user == @user %>
		<%= render 'items/form' %>
	<% end %>
	</div>
</div>

<div class="span5">
<% if user_signed_in? && current_user == @user %>
	<%= render 'lists/user_sidebar' %>
<% else %>
	<%= render 'lists/follower_sidebar' %>
<% end %>
</div>