<div class="headline">
	<h1>Happy Fun To Do List!</h1>
</div>

<table class="table">
<% @items.each do |item| %>
	<% if item.completed == false %>
		<tr>
	<!-- 		<td><%= check_box_tag :completed, false, item.completed? %></td> -->
			<td><%= item.task %> - <%= link_to "Complete", complete_item_path(@list.id, item.id) %></td>
<!-- 			<td><%= link_to "Done", list_path, method: :delete, remote: true %></td>
 -->	</tr>
	<% end %>
<% end %>
</table>

<button class="btn btn-large btn-block">
	<%= link_to 'New Item', new_list_item_path(@list) %>
</button>