<div class="headline">
	<h1><%= @list.name %></h1>
</div>

<table class="table">
<% @items.each do |item| %>
	<tr>
		<td><%= item.completed %></td>
		<td><%= item.task %></td>
	</tr>
<% end %>
</table>

<button class="btn btn-large btn-block">
	<%= link_to 'New Item', new_list_item_path(@list) %>
</button>
<!-- 
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
 -->